[user]
	name = Andrea Falconi
	email = andrea.falconi@gmail.com
[credential]
	helper = cache --timeout=172800
[core]
	editor = emacs
        excludesfile = ~/.gitignore_global
[alias]
        graph = log --graph --full-history --all --color --pretty=tformat:"%x1b[0m%h%x09%x1b[32m%D%x1b[0m%x20%s%x1b[0m"
[push]
	default = simple
